# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# env
env/

# Unit test / coverage reports
.cache
.pytest_cache/

# mypy
.mypy_cache/

# Documentation
docs/build

# IDEs
.idea
.vscode/settings.json

# MacOS
.DS_Store

# Viper temporary files
tmp/